*{
  margin: 0;
  padding: 0;
  
  height: auto;
  font-family:  sans-serif;
  box-sizing: border-box;
  /* background-image: url("/img/background.jpg"); */
}

body {
  /* background-image:url("/home/saurabh/Pictures/599783.jpg"); */
   background-image: url( '../static/img/background.jpg' );
   background-size: 100%;
   background-repeat: no-repeat;
}

nav{
  background-color: #F6750A;
  display: grid;
  place-items: center;
}

nav ul{
  list-style-type: none;
}

nav ul a{
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #FFF;
  transition: 0.2S ease-in;
  font-size: 18px;
}

nav ul a:hover{
background-color: gray;
color: white;
margin-top: -40px;
padding-top: 0px;

}


.navLogin {
  overflow: hidden;
  background-color: #333;
}

.navLogin a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navLogin a:hover {
  background-color: #ddd;
  color: black;
}

.navLogin a.active {
  background-color: #04AA6D;
  color: white;
}

#nome_login{
  margin-top: 10px;
}

#email_login{
  margin-top: 20px;
}

#manterlogado{
  margin-top: 20px;
}

#logar{
  margin-top: 15px;
}

.link{
  margin: 15px;
}


.cabecalho{
  background-color: #333;
  display: inline-block;
  width: 100%;
}

.cabecalhoItems{
  width: 66.5%;
  margin-left: 20%;
}

.cabecalho img{
  width: 120px;
  height: 120px;
}

.cart{
  font-size: 30px;
  color: white;
  margin-left: 235px;
  display: inline-block;
  cursor:pointer;
}

.pEndereco{
  display: inline-block;
  margin-left: 5px;
  color: white;
  text-size-adjust: 10px;
}

.btnLogin{
  top: 25px;
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 240px;
  padding: 8px 20px 8px 20px;
  background-color: #F6750A;
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
}


.status{
  width: 65%;
  margin-left: 18%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px 10px;
  grid-column-gap: 20px;
  grid-row-gap:10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.icon-status{
  color: red;
}

.status-horas{
  align-items: center;
  display: flex;
}
.status-desc{
  padding: 10px;
  float: right;
}



.tempo-entrega{
  align-self: center;
  align-items: center;
  display: flex;
}

.tempo-desc{
  padding: 10px;
  float: right;
}

.icon-tempo{
  color: #c0c0c0;
}

.icon-pgto{
  color: #c0c0c0;
}

.forma-pgto{
  align-self: left;
  align-items: center;
  display: flex;
}

.desc-pgto{
  padding: 10px;
  float: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .items {
  padding-top: 102px;
}

.items{
  width: 50%;
  margin-left: 18%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 30px 20px;
  grid-column-gap: 20px;
  grid-row-gap:30px;
  background-color: #f5f5f5;
  margin-bottom: 10%;
  border-radius: 10px;
}

.cartContainer{
  width: 35%;
  margin-left: 30%;
  margin-top: 20px;
  display: block;
  background-color: #f5f5f5;
  margin-bottom: 10%;
  border-radius: 10px;
}

.cartConfirm{
  font-size: 20px;
  display: inline-block;
}

.titleCart{
  display: block;
  width: 100%;
  background-color: #F6750A;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 20px 10px;
  color: white;
  display: inline-block;
  position: inherit;
}

.cartBlock{
  padding: 10px;
}

.descCart{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.minDescProduto{
  font-size: 12px;
}

.cartProdutoMain{
  font-weight: bold;
  display: table-cell;  
  vertical-align: middle;
  top: 30%; 
  position: relative;
}

.minDescPreco{
  font-size: 14px;
  margin-right: 0px;
  position: inherit;
}

.line{
  margin-top: 4px;
  margin-bottom: 4px;
  height:2px;border-width:0;color:#F6750A;background-color:#F6750A;
}

.titleCart p{
  display: inline-block;
  margin-left: 5px;
}

.container{
  margin-top: 20px;
  height: 500px;
  width: auto;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.item{
  display: inline-block;
  border: 5px solid transparent;
  width: 100%;
  border-radius: 5%;
  background-color: white;
}

.item img{
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
  border: 10px solid transparent;
  border-radius: 20%;
}

.img-main{
  float: right;
  width: 40%
}

.img-main img{
  display: block;
}

.title-produto{
  padding: 5px;
}

.desc-produto{
  margin-left: 5px;
}

.bottom-produto{
  width: 90%;
  bottom: 0;
  margin-top: 10px;
  margin-left: 5px;
  display: inline-flex;
}

.button-add{
  margin-left: 75%;
  text-size-adjust: 100px;
  text-decoration: none;
  color: #F6750A;
  cursor: pointer;
}

.button-add fa-lg{
  cursor: pointer;
}

.preco{
  margin-left: 1px;
  color: #F6750A;
  font-weight: bold;
}

.moeda{
  font-weight: bold
}

.estacoes{
  width: 100%;
  height: auto;
  display: inline-flex;
  grid-column: 1 / span 2;

}

.estacao{
  grid-column-start: 1;
  grid-column-end: 2;
  margin-left: 3px;
}


/* Estitlização pagina contato */

.contato{
  width: 65%;
  margin-left: 18%;
  margin-top: 20px;
  display: inline-block;
  padding: 15px 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 10px;
}

.titulo_contato{
  text-align: center;
  width: auto;
  height: auto;
  font-weight: bold;
  padding: 5px;
}

.desc_contato{
  font-weight: bold;
}

.informacoes_contato{
  display: flex;
  padding: 20px 20px 0px 0px;
}

.icon_instagram{
  float: right;
}

.contato_info{
  width: 65%;
  margin-left: 18%;
  display: inline-block;
  padding: 30px 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 10px;
}


footer {

  position: static;
  padding: 1em;
  background-color: #333;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: white;
}

.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0  ;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content{
  width: 500px;
  height: auto;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  position: relative;
}


.bg-modal-login{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0  ;
  justify-content: center;
  display: none;
}

#listMenuLogin{
  display: inline-block;
  position: absolute;
  list-style-type: none;
  right: 0;
  margin-right: 240px;
}

#visible:hover .list-categories{
  max-height: inherit;
  display:  block;
}

.list-categories li:hover a {
  font-weight: bold;
  width: 100%;
  margin-left: -10px;
  padding-left: 10px;
  cursor: pointer;
}


.list-categories{
  list-style-type: none;
  width: 200px;
  padding: 0px;
  right:0;
  top: 55px;
  display: none;
  max-height: 0px;
  position: absolute;
  background-color: white;
  padding: 10px;
  border: solid;
  border-radius: 15px;
  border-width: thin;

}

.list-categories li{
  padding: 10px;
  text-align: left;
}

.list-categories li{
  width: 100%;
}


.modal-content-login{
  width: 420px;
  height: auto;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  position: relative;
  align-items: center;
  margin-left: 34%;
  margin-top: 2.5%;
}


.formLogin{

  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;

}

.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.confirmProduto{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.titleConfirm{
  padding-left: 10px;
  padding-top: 10px;
  background-color: #F6750A;
  border-radius: 3px;
}

.titleConfirm h4{
  margin-bottom: 5px;
}

.titleConfirm h5{
  margin-bottom: 4px;
}


.confirmPhoto img{
  display: block;
  width: 150px;
  height: auto;
}

.qtdProduto{
  width: auto;
  padding: 10px;
  margin: auto;
  display: inline-block;
}

.qtdDinamic{
  display: block;
}

.btnRemove{
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.confirmQTD p{
  display: inline-block;
}

.btnAdd{
  
  color: green;
  font-size: 20px;
  cursor: pointer;
}


.navLogin a{
  cursor: pointer;
}

.formulario{
  width: 100%;
  padding: 10px;
  display: block;
  position: inherit;
 align-items: center;
 justify-content: center;
}
.formulario p{
  width: 100%;
  font-size: 1.5em;
}
.field{
  width: 100%;
  margin: 0px 0;
}
.field label, 
.field span{
  padding-left: 10px;
  font-size: 1.1em;
  display: block;
  width: 100%;
}
.radiobox label{
  width: auto;
  display: inline-block;
}
input[type=text],
input[type=email],
input[type=password],
input[type=number],
textarea{
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
input#nao{
  margin-left: 30px;
}
textarea{
  line-height: 20px;
  padding: 10px;
  height: 50px;
  resize: none;
}
input[type=submit]{
  display: block;
  background-color: #F6750A;
  color: white;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

.telefoneBox{
  display: inline-flex;

}

.telefone{
  display: inline-block;
}

.telefoneDDD{
  display: contents;
}

#email_login.ddd{
  width: 20%;
  margin-right: 20px;
}

.buttonAdd{
  display: block;
  background-color: #F6750A;
  color: white;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  position: inherit;
}

.alertIcon{
  position: absolute;
  margin-left: 255px;
  margin-top: 88px;
  color: red;

}

.totalsCart p{
  display: inline-block;
}


footer h5{
  text-align: center;
}