{% extends "base.html" %}
{% block titulo %}Temakitech{% endblock %}
{% block js %}

{% endblock %}

{% block conteudo %}
  <section class="contato">
    <!-- Começa aqui -->


    <div class="contato_icons">
      <img alt="Info_gray"
        src="https://cdn.neemo.com.br/assets/new_version/info_gray-5f8392f99354c34226bc6d71fd9c3732.png">
      <a href="tel:(11) 94891-9889">(11) 94891-9889</a>
      <img alt="Info_whats_gray"
        src="https://cdn.neemo.com.br/assets/new_version/info_whats_gray-8a2a324d05d2e28ac9d44f5ba46d6507.png">
      <a href="https://api.whatsapp.com/send?phone=5511948919889&amp;text=">11948919889</a>

      <a href="https://www.instagram.com/paradadotemaki/" class="icon_instagram" target="_blank">
        <img alt="Insta" src="https://cdn.neemo.com.br/assets/new_version/insta-6185d10e13b2be824987d5e7fa2cf571.png">
      </a>
    </div>


  </section>
  <section class="contato_info">
    <p class="titulo_contato">TEMAKERIA TECH</p>

    <div class="informacoes_contato">
      <p class="desc_contato">Contato:</p>
      <p>(11) 94891-9889 </p>
    </div>

    <div class="informacoes_contato">
      <p class="desc_contato">WhatsApp: </p>
      <p>(11) 94891-9889</p>
    </div>

    <div class="informacoes_contato">
      <p class="desc_contato">E-mail:</p>
      <p>temakeriatech@temakeriatech.com.br</p>
    </div>
    <div class="informacoes_contato">
      <p class="desc_contato"> Endereço:</p>
      <p>Rua Vital Brasil 77, Butantã - São Paulo.</p>
    </div>
  </section>
  {% endblock %}
 