{% extends "base.html" %}
{% block titulo %}Temakitech{% endblock %}
{% block js %}

$(document).ready(function(){
  $('.button-add').click(function(){
      var userid = this.id;
      $.ajax({
          url: '/confirmProduto',
          type: 'post',
          data: {userid: userid},
          success: function(data){ 
            $('.modal-content').html(data); 
            $('.modal-content').append(data.htmlresponse);
            $('.bg-modal').css('display','flex');
          }
      });
  });

  $('.btnAdd').click(function(){
    var quantidade = $('.qtdProduto').text();
    quantidade = int(quantidade);
    quantidade = quantidade + 1;
    $('.qtdProduto').text(quantidade);
    var preco = $( ".idProduto" )[0].id;
    preco = float(preco);
    preco = preco + preco;
    $('.idPreco').text(preco);



  });

});



function closePop(){
  document.querySelector('.bg-modal').style.display = "none";
}

function aumentarQtd(){
  var quantidade = $('.qtdProduto').text();
    quantidade = parseInt(quantidade)
    quantidade = quantidade + 1;
    $('.qtdProduto').text(quantidade); 
    var preco = $( ".idPreco" )[0].id
    preco = parseFloat(preco);
    var precoTotal = $( ".idPreco" ).text()
    precoTotal = parseFloat(precoTotal);
    precoTotal = preco + precoTotal;
    $('.idPreco').text(precoTotal.toFixed(2));
    $('.idPreco').css('font-weight', 'bold')

}

function diminuirQtd(){
  var quantidade = $('.qtdProduto').text();
    quantidade = parseInt(quantidade)
    if (quantidade > 1){
      quantidade = quantidade - 1;
      $('.qtdProduto').text(quantidade); 
      var preco = $( ".idPreco" )[0].id
      preco = parseFloat(preco);
      var precoTotal = $( ".idPreco" ).text()
      precoTotal = parseFloat(precoTotal);
      precoTotal = precoTotal - preco ;
      $('.idPreco').text(precoTotal.toFixed(2));
      $('.idPreco').css('font-weight', 'bold')
    }else{
      alert("Quantidade não pode ser menor que 1")
    }
    
}



function addCart(){
  $.ajax({
    url: '/addCart',
    type: 'post',
    data: {id: $( ".idProduto" )[0].id, nome: $( ".idProduto" ).text() ,qtd: $( ".qtdProduto" ).text(), preco: $( ".idPreco" )[0].id, precoTotal: $( ".idPreco" ).text(), obs: $( "#mensagem" ).val()},
    success: function(data){ 
      alert("Produto adicionado ao carrinho com sucesso")
      window.location.reload();
    },
    error: function(data){ 
      var response = data.responseJSON
      alert(response.message)
      
    }
});
  var myAry = [1, 2, 3];
  $.cookie('name', JSON.stringify(myAry));
}

{% endblock %}

{% block conteudo %}

<div class="bg-modal">
  <div class="modal-content"> 
    <div class="close" onclick="closePop()">+</div>
  </div>
</div>

<div class="container">
  <section class="items">
    {% for categoria in categorias %}
    <div class="estacoes">
      <i class="fas fa-tag fa-lg"></i>
      <h1 class="estacao">{{categoria['categoria']}}</h1>
    </div>

    {% for produto in produtos %}
    {% if produto['idCategoria'] == categoria['id'] %}
    

    <div class="item">
      <div class="img-main">
        <img src="../static/img/{{produto['img']}}" alt="Temaki Salmão CreamChease">
      </div>
      <h3 class="title-produto">{{produto['nome']}}</h4>
        <h5 class="desc-produto">{{produto['detalhe']}}</h5>
        <div class="bottom-produto">
          <b>
            <p class="moeda">R$</p>
          </b>
          <b>
            <p class="preco">{{produto['preco']}}</p>
          </b>
          <a id="{{produto['id']}}" class="button-add fa-lg"><i class="fas fa-plus-circle" ></i></a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}

  </section>
</div>


{% endblock %}