{% extends "base.html" %}
{% block titulo %}TEMAKITECH{% endblock %}
{% block conteudo %}

  <div class="container">
  <section class="items">
     <div class="estacoes">
      <i class="fas fa-tag fa-lg"></i>
      <h1 class="estacao">ESTAÇÃO TEMAKI</h1>
    </div>
    <br> -->

      <div class="item">
      <div class="img-main">
        <img src="img/temaki_salmao.jpg" alt="Temaki Salmão CreamChease">
      </div>
      <h3 class="title-produto">Temaki Salmão</h4>
        <h5 class="desc-produto">Nori, shari, salmão cru batido, cream cheese e cebolinha. (Acompanha 01 sachê de
          shoyu.)</h5>
        <div class="bottom-produto">
          <b>
            <p class="moeda">R$</p>
          </b>
          <b>
            <p class="preco">18</p>
          </b>
          <a href="" class="button-add fa-lg"><i class="fas fa-plus-circle"></i></a>
        </div>
    </div>
    
  </section>
</div>


{% endblock %}