<div class="close" onclick="closePopLogin()">+</div>

<div class="navLogin">
    
        <a  onclick="login()">Login</a> </li>
        <a  onclick="cadastrar()">Cadastrar</a></li>
    
</div>
{% if controlLogin %}    

<iframe name="dummyframe" id="dummyframe" style="display: none;">
  <p>teste</p>
</iframe>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<form class="formLogin" method="post" action="javascript:SubForm()"> 
    <h1>Login</h1> 
    <p> 
      <input id="nome_login" name="login" required="required" type="text" placeholder="Email"/>
    </p>
     
    <p> 
      <input id="email_login" name="senha" required="required" type="password" placeholder="Senha" /> 
    </p>
     
    <p> 
      <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
      <label for="manterlogado">Manter-me logado</label>
    </p>
     
    <p> 
      <input id="logar" type="submit" value="Logar" /> 
    </p>

  </form>

  {% else %}


  <form class="formLogin" method="post" action="./login"> 
    <h1>Cadastro</h1> 
    <p> 
      <input id="nome_login" name="nome_login" required="required" type="text" placeholder="Nome"/>
    </p>
     
    <p> 
      <input id="email_login" name="email_login" required="required" type="text" placeholder="Email" /> 
    </p>
    <div class="telefoneBox">
        <p class="telefoneDDD"> 
            <input id="email_login" class="ddd" name="email_login" required="required" type="number" placeholder="DDD" /> 
        </p>
        <p class="telefone"> 
            <input id="email_login" name="email_login" required="required" type="number" placeholder="Numero" /> 
        </p>
    </div>

    <p> 
        <input id="email_login" name="email_login" required="required" type="password" placeholder="Senha" /> 
    </p>

    <p> 
        <input id="email_login" name="email_login" required="required" type="password" placeholder="Repetir Senha" /> 
      </p>
    
     
    <p> 
      <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
      <label for="manterlogado">Manter-me logado</label>
    </p>
     
    <p> 
      <input id="logar" type="submit" value="Logar" action="SubForm()"  /> 
    </p>
     
  </form>

  {% endif %}  
<!-- <button>teste</button> -->